/* Index page */ 
#cameraStart {
	margin-left: 10px; 
}

/* Map Page */
#mapImage {
	position: relative;
    bottom: 15px; 
    right: 20px; 
}

#googleMap {
	height: 430px; 
    width: 300px;  
   /* position: relative; */ 
    
}

/* Instagram Share page */
#insta {
	background-color: white; 
    height: 300px;
    width: 300px; 
 
}

#hashtags { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 210px; 
    margin-left: 0;
    margin-right: 0;
    text-decoration: none; 
    list-style-type: none; 
}


#searchBox {
	margin-top: 50px; 
}

#instaLogo {
	margin-left: 60px; 
}

#loginForm {
	margin-bottom: 60px; 
}

#foodGallery {
	margin-right: 10px; 
    margin-bottom: 10px; 
}
